<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>6298E048-4D1B-4DD2-A3F1-AB78DD181E06</string>
			<string>------------------------------------</string>
			<string>536616D0-96F4-491F-86DA-03008772F7A3</string>
			<string>C8BDE80D-21C7-4237-886D-A099AC463665</string>
			<string>------------------------------------</string>
			<string>E54A7651-8834-4EF6-8852-468A24ACC6C6</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>C8BDE80D-21C7-4237-886D-A099AC463665</key>
			<dict>
				<key>items</key>
				<array>
					<string>4108455E-925C-4009-B87F-4635199F6DE7</string>
					<string>F2A344A2-8546-41E8-BC60-EA331D4EF7B8</string>
					<string>------------------------------------</string>
					<string>02917AD5-E190-40B5-998A-DD7DBC79BAF0</string>
				</array>
				<key>name</key>
				<string>JavaScript Lint</string>
			</dict>
			<key>E54A7651-8834-4EF6-8852-468A24ACC6C6</key>
			<dict>
				<key>items</key>
				<array>
					<string>486A2267-2A7B-46B7-9C0A-BC81D33DC0CB</string>
					<string>------------------------------------</string>
					<string>0B51E320-D218-4352-8AEF-096B3232E818</string>
					<string>126FB767-F22D-4A95-8996-663C999CDDEC</string>
					<string>------------------------------------</string>
					<string>D3210BEC-4A3A-4FA9-8D7C-1A0F8065CFF5</string>
					<string>E620A7EF-DB9B-48D9-874F-60EAF426E70D</string>
					<string>------------------------------------</string>
					<string>67347C19-DA7A-41B8-8C48-8CC92E11E4E3</string>
					<string>B4DDB005-470D-4D22-8FE8-B29FDC613A7A</string>
				</array>
				<key>name</key>
				<string>Formatting / Compression</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>JavaScript Tools</string>
	<key>ordering</key>
	<array>
		<string>6298E048-4D1B-4DD2-A3F1-AB78DD181E06</string>
		<string>536616D0-96F4-491F-86DA-03008772F7A3</string>
		<string>4108455E-925C-4009-B87F-4635199F6DE7</string>
		<string>F2A344A2-8546-41E8-BC60-EA331D4EF7B8</string>
		<string>0B51E320-D218-4352-8AEF-096B3232E818</string>
		<string>D3210BEC-4A3A-4FA9-8D7C-1A0F8065CFF5</string>
		<string>E620A7EF-DB9B-48D9-874F-60EAF426E70D</string>
		<string>02917AD5-E190-40B5-998A-DD7DBC79BAF0</string>
		<string>486A2267-2A7B-46B7-9C0A-BC81D33DC0CB</string>
		<string>B4DDB005-470D-4D22-8FE8-B29FDC613A7A</string>
		<string>67347C19-DA7A-41B8-8C48-8CC92E11E4E3</string>
	</array>
	<key>uuid</key>
	<string>3A0A9B86-5306-421D-A662-F308C2E09D2E</string>
</dict>
</plist>
