<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>C8BDE80D-21C7-4237-886D-A099AC463665</string>
			<string>0B51E320-D218-4352-8AEF-096B3232E818</string>
			<string>D3210BEC-4A3A-4FA9-8D7C-1A0F8065CFF5</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>C8BDE80D-21C7-4237-886D-A099AC463665</key>
			<dict>
				<key>items</key>
				<array>
					<string>4108455E-925C-4009-B87F-4635199F6DE7</string>
					<string>F2A344A2-8546-41E8-BC60-EA331D4EF7B8</string>
					<string>02917AD5-E190-40B5-998A-DD7DBC79BAF0</string>
				</array>
				<key>name</key>
				<string>JavaScript Lint</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>JavaScript Tools</string>
	<key>ordering</key>
	<array>
		<string>0B51E320-D218-4352-8AEF-096B3232E818</string>
		<string>D3210BEC-4A3A-4FA9-8D7C-1A0F8065CFF5</string>
		<string>E620A7EF-DB9B-48D9-874F-60EAF426E70D</string>
		<string>F2A344A2-8546-41E8-BC60-EA331D4EF7B8</string>
		<string>02917AD5-E190-40B5-998A-DD7DBC79BAF0</string>
		<string>4108455E-925C-4009-B87F-4635199F6DE7</string>
	</array>
	<key>uuid</key>
	<string>3A0A9B86-5306-421D-A662-F308C2E09D2E</string>
</dict>
</plist>
